LAN_INTERFACE="eth0"
LAN_IP="10.10.10.2"
LAN_NET="192.168.1.0/24"


CAPTIVE_PAGE="/var/www/captive"
DEFAULT_WEBROOT="/home/forge"

# GitHub Integration (Auto-Deploy Repositories)
GITHUB_PAT=""
GITHUB_REPO_URL="git@github.com:nioxon/niox-play.git"
CAPTIVE_REPO_URL="git@github.com:nioxon/captive-screen.git"
